[Unit]
Description=Icinga BEM issue Sync (%i)
Documentation=https://github.com/Thomas-Gelf/icingaweb2-module-bem/blob/master/README.md
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/icingacli bem daemon run --cell "%i" --verbose
; For debugging purposes:
; ExecStart=/usr/bin/icingacli bem daemon run --cell "%i" --trace --debug
Restart=always
RestartSec=5
User=icingaweb2

[Install]
WantedBy=multi-user.target
